html{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Just Me Again Down Here', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(white 60px, transparent 60px);
}

body {
    display: flex;
    justify-content: center;
}

.looseleaf {
    width: 90%;
    max-width: 1000px;
    padding: 80px 20px 20px 40px;
    background-color: white;
    position: relative;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    background-image: linear-gradient(#9cb8e4 1px, transparent 1px);
    background-size: 100% 30px;
    align-self: center;
}

.red-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: red;
    top: 0;
    left: 35px;
    z-index: 30;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #39ad77; 
}
.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.nav-section {
    font-size: 1.8rem;
}

.section-header {
    font-weight: 400;
    font-size: 1.9rem;
}

#home {
    margin-top: -7px;
}

.home-section {
    display: flex;
    margin-top: 15px;
}

.home-image {
    width: 170px;
    height: 170px;
    margin-right: 10px;
}

.text-home {
    margin-top: -20px;
}

.page-text-small {
    font-size: 1.5rem;
}

.text-about {
    margin-top: -20px
}
.about-subsection {
    font-size: 1.8rem;
    margin-top: -20px;
}

.t {
    margin-top: -40px;
}

.about-images {
    width: 100px;
    height: 170px;
}
.about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-cards-text {
    margin-top: 0;
    font-size: 1.4rem;
}
.about-cards-row {
    display: flex;
    justify-content: space-evenly;
}

.part-two {
    margin-top: 5px;
}
#my-projects {
    margin-top: 0;
}

.my-projects-thumbnails{
    display: flex;
    gap: 10px;
}
.project-images {
    width: 170px;
    height: 170px;
    border: .5px solid rgba(0,0,0,0.4);
}

.project-description-text {
    display: none;
    margin-top: -25px;
    font-size: 1.3rem;
}

.project-description-text:target {
    display: block;
}

.project-title {
    font-size: 1.4rem;
}

.contact-me-section {
    margin-top: -20px;
}

.socials {
    display: flex;
    gap: 60px;
    font-size: 1.7rem;
}

.socials-left {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    gap: 20px;
}

.fab.fa-linkedin.linkedin {
    color: #0077B5; 
}

.fab.fa-github.github {
    color:rgb(27, 26, 26)
}

.fab.fa-discord.discord {
    color: rgb(45, 87, 81);
}

.socials-right {
    display: flex;
    gap: 15px;
    margin-top: -20px;
}

.email-form {
    margin-top: -10px;
}

.fa-solid.fa-envelope {
    color: orangered
}

form input {
    width: 420px;
}

form textarea {
    width: 420px;
}
